# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
COMP1858_dsa/coursework/hotel_reviews.csv
COMP1858_dsa/coursework/hotel_review.zip
COMP1589_web/cw.zip
*.zip
COMP1858_dsa/coursework/hotel_reviews.csv
